div#pp
{
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 100px;
  background: url(pp.jpg) no-repeat;
  background-size: 200px;
  

}
header
{
  padding: 30px;
  position: relative;
  left: 270px;
}

h2
{
  color :#192fa8;
}

#ep
{
  background-color: honeydew;
  background-size: 10px;
}

#formations
{
  background-color: rgb(187, 222, 250);
}

#asso
{
  background-color: rgb(249, 224, 255);
}

section
{
    position: relative;
    left: 350px;
}

.informations
{
  position: absolute;
  top: 200px;
  left: 50px;
  background-color: rgb(221, 221, 221);
  padding-bottom: 300px;
  padding-left: 20px;
  padding-right: 20px;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f0e9e9;
  padding: 20px;
}

